.container {
    display: grid;
    background-color: aqua;
    height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 1fr 30px;
    text-align: center;
  }

  .box {
    background-color: dimgrey;
    color: #fff;
    border: 1px solid lightgreen;
  }

  #header {
    grid-column: 1/span4;
  }

  #footer {
    grid-column: 1/-1;
  }

  #content {
    grid-column: 2/4;
  }
