.container{
    display: grid;
    background-color: aqua;
    height: 400px;
    text-align: center;
    grid-template: 40px 1fr 40px/repeat(4,1fr);
    grid-template-areas: 
    "h h h h"
    "m c c s"
    "f f f f"
    ;
}

.box{
    background-color: dimgrey;
    color: #fff;
    border: 1px solid lightgreen;
}

#header
{
    grid-area: h;
}

#footer
{
    grid-area: f;
}

#content{
    grid-area: c;
}